@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    border-style: none;
}

body {
    margin: 0;
}
.favourite-btn{
    border: none;
}

.favourite-food {
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 608px;

}

.food-text {
    font-family: 'Roboto', sans-serif;
    width: 502px;
    height: 213px;
    margin-top: 231px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.text-favourite:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
    color: #2C2C2C;
}

.text-favourite:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: #2C2C2C;

}

.favourite-btn {
    font-family: 'Roboto', sans-serif;
    width: 98px;
    padding: 8px 30px;
    margin-top: 12px;
    white-space: nowrap;
    border-radius: 30px;
    background: #BBF330;
    color: #2C2C2C;
    font-weight: 500;
    padding-left: 16px;
    font-size: 13px;
    cursor: pointer;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 580px;
    background: #FFE550;
    border-radius: 50%;
    right: 0;


}

.salads {
    position: absolute;
    width: 95%;
    height: 95%;
}

.inner-circle {
    width: 530px;
    height: 530px;
    background: white;
    border-radius: 50%;
    position: absolute;
}


.arrow-left {
    left: 0;
    position: absolute;
    width: 40px;
    height: 48px;
    background: #FEFEFE;
    font-size: 45px;
    border-radius: 8px;
    color: #2C2C2C;
    cursor: pointer;
     top: 50%;
     border: none;
}

.arrow-right {
    position: absolute;
    width: 40px;
    height: 48px;
    background: #FEFEFE;
    font-size: 45px;
    border-radius: 8px;
    color: #2C2C2C;
    right: 0;
    cursor: pointer;
    left: 550px;
    top: 290px;
     border: none;
}

/* .container {
    width: 100%;
} */
.salads-img {
    position: absolute;
    display: none;
}

.active {
    display: block;
}

* {
    user-select: none;
}

@media (max-width:1279px) { 
    .container {
        width: 768px;
        position: relative;
    }

    .favourite-food {
        height: 608px;
        padding-top: 100px;
        position: static;
        width: 768px;
        


    }

    .food-text {
        position: relative;
        font-family: 'Roboto', sans-serif;
        width: 537px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-top: -1px;
        white-space: normal;
        
       
    }

    .text-favourite:nth-child(1) {
        font-size: 48px;
        font-weight: 700;
        color: #2C2C2C;
        width: 537px;
        height: 100px;
        margin-top: 58px;
        margin-top: -30px;
    }

    .text-favourite:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        color: #2C2C2C;
        width: 336px;
        height: 120px;
        padding-top: 30px;



    }

    .favourite-btn {
        font-family: 'Roboto', sans-serif;
        width: 98px;
        padding: 8px 30px;
        margin-top: 12px;
        white-space: nowrap;
        border-radius: 30px;
        background: #BBF330;
        color: #2C2C2C;
        font-weight: 500;
        padding-left: 16px;
        font-size: 13px;
        cursor: pointer;
    }

    .circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        background: #FFE550;
        border-radius: 50%;

    }

    .salads {
        position: absolute;
        /* background: #c71111; */
        width: 292px;
        height: 292px;
    }

    .inner-circle {
        width: 280px;
        height: 280px;
        background: white;
        border-radius: 50%;
        position: absolute;
    }


    .arrow-left {
        left: 0;
        top: 145px;
        position: absolute;
        width: 40px;
        height: 48px;
        background: #FEFEFE;
        font-size: 45px;
        border-radius: 8px;
        color: #2C2C2C;
        cursor: pointer;
    }

    .arrow-right {
        position: absolute;
        width: 40px;
        height: 48px;
        background: #FEFEFE;
        font-size: 45px;
        border-radius: 8px;
        color: #2C2C2C;
        right: 0;
        top: 145px;
        cursor: pointer;
        left: 280px;

    }

    /* .container {
    width: 100%;
} */
    .salads-img {
        position: absolute;
        display: none;
        width: 292px;
        height: 292px;
        margin-left: -5px;

    }

    .active {
        display: block;
    }

    * {
        user-select: none;
    }
    .container-food{
        padding-top: 70px;
       margin-left: 180px;
       position: relative;
    }
}
 @media (max-width:600px){
        
    .favourite-food {
        height: 608px;
        padding-top: 100px;
        display: flex;


    }

    .food-text {
        position: relative;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-top: -1px;
        white-space: normal;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        
       
    }

    .text-favourite:nth-child(1) {
        font-size: 28px;
        font-weight: 700;
        color: #2C2C2C;
        width: 280px;
        height: 250px;
        margin-top: 58px;
        margin-top: -30px;
    }

    .text-favourite:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        color: #2C2C2C;
        width: 266px;
        height: 100%;
        padding-top: 30px;



    }
    .logo img{
        margin-left: -150px;
    }

    .favourite-btn {
        font-family: 'Roboto', sans-serif;
        width: 98px;
        padding: 8px 30px;
        margin-top: 12px;
        white-space: nowrap;
        border-radius: 30px;
        background: #BBF330;
        color: #2C2C2C;
        font-weight: 500;
        padding-left: 16px;
        font-size: 13px;
        cursor: pointer;
    }

    .circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        background: #FFE550;
        border-radius: 50%;
         display: none;

    }

    .salads {
        position: absolute;
        /* background: #c71111; */
        width: 292px;
        height: 292px;
         display: none;
    }

    .inner-circle {
        width: 280px;
        height: 280px;
        background: white;
        border-radius: 50%;
        position: absolute;
         display: none;
    }


    .arrow-left {
        left: 0;
        top: 145px;
        position: absolute;
        width: 40px;
        height: 48px;
        background: #FEFEFE;
        font-size: 45px;
        border-radius: 8px;
        color: #2C2C2C;
        cursor: pointer;
         display: none;
    }

    .arrow-right {
        position: absolute;
        width: 40px;
        height: 48px;
        background: #FEFEFE;
        font-size: 45px;
        border-radius: 8px;
        color: #2C2C2C;
        right: 0;
        top: 145px;
        cursor: pointer;
        display: none;
    }

    /* .container {
    width: 100%;
} */
    .salads-img {
        position: absolute;
        display: none;
        width: 292px;
        height: 292px;
        margin-left: -5px;
         display: none;

    }

    .active {
        display: block;
    }

    * {
        user-select: none;
    }
    .container-food{
        padding-top: 70px;
       margin-left: 180px;
       position: relative;
    }  
    }

