* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #fff;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #000000;
  background-repeat: no-repeat;
  margin-top: 40px;
  width: 1211px;
  height: 266px;


}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  gap: 40px;
}

.footer-left {
  flex: 2;
  min-width: 200px;
  padding-left: 140px;
  margin-top: -50px;
}


.footer-nav {
  list-style: none;
  display: flex;
  gap: 28px;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 10px;

}

.footer-nav a {
  text-decoration: none;
  color: #2C2C2C;
  font-weight: 400;


}

.footer-right {
  min-width: 250px;
  margin-top: -50px;
}

.subscribe-title {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
}

.subscribe-form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.subscribe-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #FFE550;
  border-radius: 25px;
}

.subscribe-form button {
  padding: 4px 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #7EB101;
  border-radius: 22px;
  cursor: pointer;
  font-size: 12px;
  width: 103px;
  height: 42px;

}

.subscribe-note {
  font-size: 12px;
  color: #666;
  font-weight: 400;
  color: #000000;

}

.subscribe-note a {
  color: #7EB101;
  text-decoration: underline;

}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  margin-top: 20px;
}

.footer-links a {
  margin-right: 15px;
  font-size: 14px;
  color: #7EB101;
  text-decoration: underline;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 12px;
  color: #000000;
  padding-top: 40px;
  font-weight: 400;
}

.star {
  margin-left: -150px;
  margin-top: -20px;
  padding-right: 60px;
  padding-left: -8 0px;
}

@media (max-width:1279px) {
  .footer {
    background-color: #fff;
    padding: 40px 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #000000;
    background: url(./img/Group\ 116.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    width: 100%;
    height: 500px;
    padding-top: 200px;


  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    gap: 40px;
  }

  .footer-left {
    min-width: 200px;
    padding-left: 140px;
    margin-top: -50px;
  }


  .footer-nav {
    list-style: none;
    display: flex;
    gap: 28px;
    padding: 0;
    margin: 0;
  }

  .footer-nav li {
    margin-bottom: 10px;

  }

  .footer-nav a {
    text-decoration: none;
    color: #2C2C2C;
    font-weight: 400;


  }

  .footer-right {
    width: 350px;
    position: static;
  }

  .subscribe-title {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .subscribe-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .subscribe-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #FFE550;
    border-radius: 25px;
  }

  .subscribe-form button {
    padding: 4px 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #7EB101;
    border-radius: 22px;
    cursor: pointer;
    font-size: 12px;
    width: 103px;
    height: 42px;

  }

  .subscribe-note {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    color: #000000;

  }

  .subscribe-note a {
    color: #7EB101;
    text-decoration: underline;

  }

  .footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 20px;
  }

  .footer-links a {
    margin-right: 15px;
    font-size: 14px;
    color: #7EB101;
    text-decoration: underline;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer-copy {
    font-size: 12px;
    color: #000000;
    padding-top: 40px;
    font-weight: 400;
  }

  .star {
    margin-left: -150px;
    margin-top: -20px;
    padding-right: 60px;
    padding-left: -8 0px;
  }
}
@media (max-width:600px) {
.footer {
  background: url(./img/Fruit\ Futer.png) no-repeat center;
  background-size: cover;
  padding: 0 20px;
  padding-top: 240px;
  height: 520px;
  margin-top: 60px;
}

.footer-container {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
}

.footer-left {
  padding-left: 100px;
  margin-top: 0;
}

.footer-nav {
  gap: 20px;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.footer-nav a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #7EB101;
}

.footer-right {
  width: 100%;
  max-width: 360px;
}

.subscribe-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
}

.subscribe-form input {
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 8px; 
  border: 1px solid #4a4a4a;
}

.subscribe-form button {
  font-size: 14px;
  padding: 10px 16px;
  height: auto;
  border-radius: 25px;
  background-color: #FFE550;
  border: none;
  color: #000;
  font-weight: 600;
  transition:  0.3s ease, color 0.3s ease;
  text-align: right;
}

.subscribe-form button:hover {
  background-color: #7EB101;
  color: #fff;
}

.subscribe-note {
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: 40px;
  gap: 10px;
}

.footer-links a {
  font-size: 13px;
  margin-right: 20px;
  color: #7EB101;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #000;
}

.footer-copy {
  font-size: 13px;
  padding-top: 0;
  text-align: right;
  color: #7EB101;
}

.star {
  margin-left: 0;
  margin-top: 0;
  padding: 0;
 }
}