@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

.customers {
    background-image: url(./img/Yellow.png);
    margin-top: 100px;
    height: 647px;
    padding: 100px 0 200px 16px;
    margin-top: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.customers h3 {
    font-size: 42px;
    font-weight: 700;
}

.customers p {
    font-size: 16px;
    margin-top: 20px;
}

.customers-list {
    display: flex;
    gap: 139px;
    margin-top: 32px;
    list-style: none;
}

.customers-item {
    background: white;
    width: 501px;
    height: 227px;
    padding: 14px;
    border-radius: 0 30px 30px 30px;
}

.customers-item h4 {
    font-size: 18px;
    font-weight: 700;
    width: 473px;
    margin-top: 28px;
}

.customers-person {
    display: flex;
    margin-top: 40px;
    width: 175px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-right: #7EB101 solid 1px;
}

.customers-person img {
    width: 48px;
    height: 48px;
}

.customers-person p {
    padding-bottom: 15px;
    font-weight: 600;
}

.customers-person p span {
    font-weight: normal;
}

.customers {
    position: relative;
}

.offers {
    position: relative;
    bottom: 66px;
    display: flex;
}


.offers-info h3 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 46px;
}

.offers-info p {
    width: 656px;
    margin-top: 20px;
}

.offers-input-btn {
    margin-top: 24px;
    display: flex;
    gap: 32px;
}

.offers-input-btn input {
    display: flex;
    height: 42px;
    padding: 12px 0 12px 12px;
    align-items: center;
    width: 395px;
    border-radius: 30px;
    border: 1px solid #FFE550;
}

.offers-input-btn button {
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #BBF330;
}

@media (max-width:1279px) {
    .customers {
        background-image: url(./img/Rectangle\ 706\ \(2\).png);
        background-repeat: no-repeat;
        margin-top: 100px;
        height: 647px;
        padding: 100px 0 200px 16px;
        margin-top: 50px;
    }

    .customers h3 {
        font-size: 42px;
        font-weight: 700;
    }

    .customers p {
        font-size: 16px;
        margin-top: 20px;
    }

    .customers-list {
        display: flex;
        margin-top: 32px;
        gap: 0;
        justify-content: space-between;
        padding-right: 20px;
    }

    .customers-item {
        background: rgb(255, 255, 255);
        width: 336px;
        height: 244px;
        padding: 14px;
        border-radius: 0 30px 30px 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .customers-item h4 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 28px;
        width: 312px;
        height: 84px;
    }

    .customers-person {
        display: flex;
        margin-top: 40px;
        width: 175px;
        height: 52px;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border-right: #7EB101 solid 1px;
    }

    .customers-person img {
        width: 48px;
        height: 48px;
    }

    .customers-person p {
        padding-bottom: 15px;
        font-weight: 600;
    }

    .customers-person p span {
        font-weight: normal;
    }

    .customers {
        position: relative;
    }

    .offers {
        position: relative;
        bottom: 66px;
        display: flex;
    }


    .offers-info h3 {
        font-size: 42px;
        font-weight: 700;
        margin-top: 46px;
        padding-left: 32px;
    }

    .offers-info p {
        width: 656px;
        margin-top: 20px;
        padding-left: 32px;
    }

    .offers-input-btn {
        margin-top: 24px;
        display: flex;
        gap: 32px;
        padding-left: 32px;
    }

    .offers-input-btn input {
        display: flex;
        height: 42px;
        padding: 12px 0 12px 12px;
        align-items: center;
        width: 395px;
        border-radius: 30px;
        border: 1px solid #FFE550;
    }

    .offers-input-btn button {
        display: inline-flex;
        padding: 11px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #BBF330;
    }

    .banan-img {
        position: absolute;
        width: 281px;
        height: 136px;
        top: -115px;
        right: 10px;
    }

    .banan-img img {
        width: 281px;
        height: 136px;
    }
}

@media (max-width:600px) {
    .container{
        width: 320px;
        margin: 0 auto;
        
    }
    .customers {
        position: absolute;
        background-image: url(./img/Rectangle\ 701\ \(1\).png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 100px;
        padding: 60px 0 0 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 769px;
        
    }

    .customers h3 {
        font-size: 28px;
        font-weight: 700;
        width: 280px;
    }

    .customers p {
        font-size: 14px;
        margin-top: 20px;
        width: 280px;
    }

    .customers-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 24px;
        padding: 32px 20px 60px 20px;
        width: 280px;
    }

    .customers-item {
        background: white;
        padding: 6px;
        border-radius: 0 30px 30px 30px;
        width: 280px;
        height: 228px;
        margin: 0;
        margin-left: -15px;

    }

    .customers-item h4 {
        font-size: 16px;
        font-weight: 700;
        width: 264px;
        margin-top: 28px;
    }

    .customers-person {
        display: flex;
        margin-top: 40px;
        width: 175px;
        height: 52px;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border-right: #7EB101 solid 1px;
    }

    .customers-person img {
        width: 48px;
        height: 48px;
    }

    .customers-person p {
        padding-bottom: 15px;
        font-weight: 600;
    }

    .customers-person p span {
        font-weight: normal;
    }

    .customers {
        position: relative;
    }

    .offers {
        position: relative;
        bottom: 42px;
        display: flex;
        flex-direction: column;
        width: 280px;
        padding-top: 100px;
    }


    .offers-info h3 {
        font-size: 28px;
        font-weight: 700;
        margin-top: 17px;
        width: 280px;
    }

    .offers-info p {
        font-size: 15px;
        width: 280px;
        margin-top: 20px;
    }

    .offers-input-btn {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: end;
    }

    .offers-input-btn input {
        display: flex;
        padding: 12px 0 12px 12px;
        align-items: center;
        width: 268px;
        border-radius: 30px;
        border: 1px solid #FFE550;
        flex-direction: column;
    }

    .offers-input-btn button {
        display: inline-flex;
        padding: 11px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #BBF330;
        border: none;
        width: 100px;
    }

    .offers-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
.banan-img{
                margin-top: 100px;
}
}