header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    font-family: Arial, sans-serif;
}

.logo img {
    height: 60px;
}


.nav-btn-group {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.nav-list li {
    padding: 6px 10px;
    cursor: pointer;
}


.nav-list li:first-child {
    background: #BBF330;
    border-radius: 4px;
}

.nav-btn-group button {
    background: #BBF330;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
        font-family: Arial, sans-serif;
    }

    .logo img {
        height: 60px;
       padding-left: 150px;
    }


    .nav-btn-group {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .nav-list {
        display: flex;
        gap: 25px;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 18px;
        
    }

    .nav-list li {
        padding: 6px 10px;
        cursor: pointer;
    }


    .nav-list li:first-child {
        background: white;
        border-radius: 4px;
    }

    .nav-btn-group button {
        background: #BBF330;
        border: none;
        padding: 12px 28px;
        border-radius: 25px;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
    }

    .burger-icon {
        position: absolute;
        display: none;
        right: 20px;
        top: 20px;
        align-content: space-between;
        flex-wrap: wrap;
        width: 40px;
        height: 30px;
        cursor: pointer;
        padding-left: -150px;
    }

    .line {
        width: 100%;
        height: 5px;
        background: #7EB101;
        border-radius: 5px;
    }

    /* ваш код нижче*/

    .open {
        align-items: center;
    }

    .open .line {
        position: absolute;
    }

    .open .line:nth-child(1) {
        transform: rotate(45deg)
    }

    .open .line:nth-child(2) {
        opacity: 0;
    }

    .open .line:nth-child(3) {
        transform: rotate(-45deg)
    }

    .nav-list {
        display: none;
        height: 400px;
        flex-direction: column;
    }

    .burger-icon {
        display: flex;
    }

    .btn-header {
        display: none;
    }

    .visible-list {
        z-index: 999;
        position: absolute;
        right: 50px;
        top: 100px;
        display: flex;
        flex-direction: column;
        width: 130px;
        height: 305px;
        background: rgb(252, 251, 251);
        border-radius: 30px;
        padding: 20px;
    }
}